doctype html
html
    head
        title PDF Storage Website
        style
            include ./styles.css

    div(class='homePage')
        a(href='/') Home Page
    div(class='dashboard')
        a(href='/dashboard') Dashboard
        
    block content