extends layout
block content
    body
        h1 Your Account
        h3 Name: #{user.name}
        h3 Email: #{user.email}

        form(action='/api/v1/users/' + user._id, method='post')
            h3 Update Account
            div Name:
            input(type='text', name='name', value=user.name)
            div Email:
            input(type='text', name='email', value=user.email)
            div Password:
            input(type='password', name='password')
            div
            button(type="submit") Update

        form(method="post" action='/api/v1/users/delete/' + user._id)
            button(type="submit") Delete Account
